# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
#CMAKE
CMakeCache.txt
CMakeFiles/*
CMakeFiles
cmake_install.cmake
Makefile
monopoly
CMakeFiles/monopoly.dir/*

#codeblocks
monopoly.cbp
monopoly.layout

#vim
*.swp
