# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
#CMAKE
CMakeCache.txt
CMakeFiles/*
CMakeFiles
cmake_install.cmake
monopoly

#codeblocks
monopoly.cbp
monopoly.layout
