<jeu>
		<joueur  argent_depart="1500"/>
	<plateau>
		<groupe couleur="bleu" r="" g="" b="">
			<terrain id="37" nom="Avenue des Champs-Elysées"/> 
			<terrain id="39" nom="Rue de la Paix"/> 
		</groupe>
		<groupe couleur="vert" r="" g="" b="">
			<terrain id="31" nom="Avenue de Breteuil"/> 
			<terrain id="32" nom="Avenue Foch"/> 
			<terrain id="34" nom="Boulevard des Capucines"/> 
		</groupe>
		<groupe couleur="jaune" r="" g="" b="">
			<terrain id="26" nom="Faubourg Saint-Honoré"/> 
			<terrain id="27" nom="Place de la Bourse"/> 
			<terrain id="29" nom="Rue la Fayette"/> 
		</groupe>
		<groupe couleur="rouge" r="" g="" b="">
			<terrain id="21" nom="Avenue Matignon"/> 
			<terrain id="23" nom="Boulevard Malesherbes"/> 
			<terrain id="24" nom="Avenue Henri-Martin"/> 
		</groupe>
		<groupe couleur="orange" r="" g="" b="">
			<terrain id="16" nom="Avenue Mozart"/> 
			<terrain id="18" nom="Boumlevard Saint-Michelle"/> 
			<terrain id="19" nom="Place Pligalle"/> 
		</groupe>
		<groupe couleur="violet" r="" g="" b="">
			<terrain id="11" nom="Boulevard de la Villette"/> 
			<terrain id="13" nom="Avenue de Neuilly"/> 
			<terrain id="14" nom="Rue de Paradis"/> 
		</groupe>
		<groupe couleur="azur" r="" g="" b="">
			<terrain id="6" nom="Rue de Vaugirard"/> 
			<terrain id="8" nom="Rue de Courcelles"/> 
			<terrain id="9" nom="Avenue de la République"/> 
		</groupe>
		<groupe couleur="mauve" r="" g="" b="">
			<terrain id="1" nom="Boulvard de Belleville"/> 
			<terrain id="3" nom="Rue Lecourbe"/> 
		</groupe>
		<gare id="5" nom="Gare Montparnasse" prix="200"/>
		<gare id="15" nom="Gare de Lyon" prix="200"/>
		<gare id="25" nom="Gare du Nord" prix="200"/>
		<gare id="35" nom="Gare Saint-Lazare" prix="200"/>
		<parc id="20"/>
		<prison id="10"/>
		<police id="30"/>
		<depart id="0"/>
		<carte id="2" type="2"/>
		<carte id="7" type="1"/>
		<carte id="17" type="2"/>
		<carte id="22" type="1"/>
		<carte id="33" type="2"/>
		<carte id="36" type="1"/>
		<taxe id="4" nom="Impôt sur le revenu" prix="200"/>
		<taxe id="38" nom="Taxe de luxe" prix="100"/>
		<compagnie id="12" nam="Campagne de distribution d'électricité" prix="150"/>
		<compagnie id="28" nam="Campagne de distribution des eaux" prix="150"/>
	</plateau>
	<cartes>
		<paquet type="2" nom="Caisse de Communauté">
			<carte lib="Payez à l'hopital 10€" type="argent" valeur="-10" />
			<carte lib="Erreur de la banque en votre faveur. 
Recevez 200€" type="argent" valeur="200" />
			<carte lib="Recevez votre intérêt sur l'emprunt à 7%, 25€" type="argent" valeur="25" />
			<carte lib="Payez une amende de 10€ ou bien tirez ue carte chance" type="argent_tirer" valeur="-10" autre="1" />
			<carte lib="Les contributions vous remboursent la somme de 20€" type="argent" valeur="20" />
			<carte lib="Payer la note du médecin 50€" type="argent" valeur="-50"/>
			<carte lib="Vous avez gagné le deuxième prix de beauté. 
Recevez 10€." type="argent" valeur="10" />
			<carte lib="Vous héritez 100€" type="argent" valeur="100" />
			<carte lib="La vente de votre stock vous rapporte 50€" type="argent" valeur="50" />
			<carte lib="Allez en prison.
Avancez tous droit en prison.
Ne passez pas par la case départ.
Ne recevez pas 200€"
					type="aller_prison" />
			<carte lib="Recevez votre revenu annuel 100€" type="argent" valeur="100" />
			<carte lib="C'est votre anniversaire:
chaque joueur doit vous donner 10€" type="argent_depuis_joueurs" valeur="10"/>
			<carte lib="Retournez à Belleville" type="retourner" id="1" />
			<carte lib="Vous êtes libéré de prison." type="libere" />
			<carte lib="Avancez jusqu'à la case départ" type="aller_a" id="0" />
			<carte lib="Payer votre Police d'Assurance s'élevant à 50€" type="argent" valeur="-50" />
		<paquet/>
		<paquet type="1" nom="Chance">
			<carte lib="Reculez de 3 cases" type="aller_relatif" dep="-3" />
			<carte lib="Avancez à Boulevard de la Villette.
Si vous passez par la case Départ recevez 200€" type="aller_a" id="11" />
			<carte lib="La banque vous verse un diviende de 50€" type="argent" valeur="50" />
			<carte lib="Payez pour frais de scolarité. 150€" type="argent" valeur="-150" />
			<carte lib="Rendez-vous à l'Avenue Henri-Martin.
Si vous passer par la case Départ recevez 200€" type="aller_a" id="24" />
			<carte lib="Faites des réparations dans toutes vos maisons.
Versez pour chaque maison 25€.
Versez pour chaque hotel 100€." type="reparation" maison="-25" hotel="-100" />
			<carte lib="Vous êtes imposé pour les réparations
de voirie à raison de:
40€ par maison et
115€ par hotel." type="reparation" maison="-40" hotel="-115" />
			<carte lib="Allez à la gare de Lyon" type="aller_a" id="15" />
			<carte lib="Amende pour excès de vitesse: 15€." type="argent" valeur="-15" />
			<carte lib="Vous avez gagné le prix de mots croisés.
recevez 100€." type="argent" valeur="100" />
			<carte lib="Amende pour ivresse: 20€" type="argent" valeur="-20" />
			<carte lib="Avancez jusqu'à la case départ" type="allez_a" id="0" />
			<carte lib="Vous êtes libéré de prison." type="libere" />
			<carte lib="Rendez-vous à la Rue de la Paix" type="retourner" id="39" />
			<carte lib="Votre immeuble et votre prêt rapportent 150€" type="argent" valeur="150" />
			<carte lib="Allez en prison.
Avancez tous droit en prison.
Ne passez pas par la case départ.
Ne recevez pas 200€"
					type="aller_prison" />
		<paquet/>
	</cartes>
</jeu>
